{% extends "index.html" %}
{% load static %}
{% load humanize %}
{% block content %}

<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>

<div class="row">
  <div class="col-md-6 col-lg-4">
    <div class="widget-small primary coloured-icon"><i class="icon bi bi-currency-exchange fs-1"></i>
      <div class="info">
        <p>Real</p>
        <p><b>$ {{ Tesoro_real|floatformat:0|intcomma }}</b></p>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-lg-4">
    <div class="widget-small info coloured-icon"><i class="icon bi bi-kanban fs-1"></i>
      <div class="info">
        <p>Proyectado</p>
        <p><b>$ {{ Tesoro_proyectado|floatformat:0|intcomma }}</b></p>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-lg-4">
    <div class="widget-small warning coloured-icon"><i class="icon bi bi-cash-coin fs-1"></i>
      <div class="info">
        <p>Saldo actual</p>
        <p><b>$ {{ Tesoro_total|floatformat:0|intcomma }}</b></p>
      </div>
    </div>
  </div>
  <!-- <div class="col-md-6 col-lg-3">
    <div class="widget-small danger coloured-icon"><i class="icon bi bi-star fs-1"></i>
      <div class="info">
        <h6>TESORO ACTUAL</h6>
        <p><b></b></p>
      </div>
    </div>
  </div> -->
</div>

{{ Pagados_lista }}
<!-- GRAFICO DE EVOLUCION DEL TESORO -->
<div class="row">
  <div class="col-lg-12">
    <div class="card shadow mb-4">
        <!-- Card Header - Dropdown -->
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between bg-primary">
            <h6 class="m-0 font-weight-bold text-light">Detalle mensual del tesoro</h6>
        </div>
        <div class="card-body">

            <!-- Utiliza el sistema de grillas para una fila -->
            <div class="row">
             
                <div class="col-md-4 mb-3">
                    <label for="fechaDesde">Desde:</label>
                    <input type="date" class="form-control" id="fechaDesde" name="fechaDesde">
                </div>
                <div class="col-md-4 mb-3">
                    <label for="fechaHasta">Hasta:</label>
                    <input type="date" class="form-control" id="fechaHasta" name="fechaHasta">
                </div>
                <div class="col-md-4 mb-3">
                    <!-- Puedes ajustar este botón según tus necesidades -->
                    <button class="btn btn-primary btn-block" style="margin: 20px;" id="btnFiltrar">Filtrar</button>
                </div>
             
            </div>

            <!-- Agrega el contenedor para el gráfico -->
            <div class="row">
              <div id="lineChart"></div>
            </div>
            

        </div>
    </div>
  </div>
</div>


<!-- GRAFICO DE EVOLUCION DEL TESORO -->
<div class="row">

  <!-- Area Chart -->
  <div class="col-lg-12">
      <div class="card shadow mb-4" style="height: 550px;">
          <!-- Card Header - Dropdown -->
          <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between bg-primary">
              <h6 class="m-0 font-weight-bold text-light">Grafico de Egresos / Ingresos</h6>
          </div>
          <div class="card-body">
            <div id="lineChart2" style="height: 400px; width: 100%;"></div>
        </div>
      </div>
  </div>
</div>

<!-- <div class="row">
  {{ Pagados_lista }}
</div> -->

<!-- GRAFICO DE EVOLUCION DEL TESORO -->
<script>
  Highcharts.chart('lineChart', {
      chart: {
          type: 'column',
          events: {
              load: function () {
                  // Configura el botón de descarga después de que el gráfico se carga completamente
                  this.exporting.update({
                      enabled: true
                  });
              }
          }
      },
      title: {
          text: ' '
      },
      xAxis: {
          categories: [{% for data in Pagados_lista %} '{{ data.periodo }}', {% endfor %}],

          uniqueCategories: true // Asegura que las categorías sean únicas
      },
      yAxis: {
          title: {
              text: false,
          },
      },
      plotOptions: {
          column: { // Configuración específica para la línea
              dataLabels: {
                  enabled: true, // Muestra etiquetas en los puntos de la línea
                  formatter: function () {
                      return Highcharts.numberFormat(this.y / 1000000, 0) + 'M';
                  }
              }
          }
      },
      exporting: {
          enabled: false,
          buttons: {
              contextButton: {
                  menuItems: ['downloadPNG', 'downloadPDF'], // Formatos de archivo permitidos
                  symbol: 'menu'
              }
          }
      },
      series: [
          {
              name: 'Tesoro Real',
              data:  [{% for data in Pagados_lista %} {{ data.total }}, {% endfor %}],
              color: 'rgba(116, 151, 196, 1)',
          }
      ]
  });
  </script>
  
  

<!-- GRAFICO DE INGRESOS / EGRESOS -->
<script> 
    Highcharts.chart('lineChart2', {
        chart: {
            type: 'column',
            events: {
                load: function () {
                    // Configura el botón de descarga después de que el gráfico se carga completamente
                    this.exporting.update({
                        enabled: true
                    });
                }
            }
        },
        title: {
            text: 'Ingresos / Egresos'
        },
        xAxis: {
            categories: [{% for data in Pagados_lista %} '{{ data.periodo }}', {% endfor %}]
        },
        yAxis: {
            title: {
                text: 'Ingresos / Egresos Municipales'
            },
            
        },
        plotOptions: {
            line: { // Configuración específica para la línea
                dataLabels: {
                    enabled: true, // Muestra etiquetas en los puntos de la línea
                    formatter: function () {
                        return Highcharts.numberFormat(this.y / 1000000, 0) + 'M';
                    }
                }
    
            },
            column: { // Configuración específica para la línea
                dataLabels: {
                    enabled: true, // Muestra etiquetas en los puntos de la línea
                    formatter: function () {
                        return Highcharts.numberFormat(this.y / 1000000, 0) + 'M';
                    }
                }
    
            }
        },
        exporting: {
            enabled: false, // Puedes establecerlo en true para habilitar la exportación por defecto
            buttons: {
                contextButton: {
                    menuItems: ['downloadPNG', 'downloadJPEG', 'downloadPDF', 'downloadSVG'], // Formatos de archivo permitidos
                    symbol: 'menu' // Cambia el icono del botón si lo deseas
                }
            }
        },
        series: [
            {
            name: 'Egresos',
            data:   [{% for data in Pagados_lista %} {{ data.total }}, {% endfor %}],
            color: 'rgba(255, 42, 42, 1)',
            type : 'column',
            } ,
            {
            name: 'Egresos Proyectados',
            data:  [{% for data in Pagados_lista %} {{ data.total }}, {% endfor %}],
            color: 'rgba(255, 42, 42, 0.3)',
            type : 'column',
            dataLabels: false,
            },
            // {
            // name: 'Ingresos',
            // data:[500,250,200,155,255,255,],
            // color: 'rgba(116, 151, 100, 1)',
            // type : 'line',
            
            // },
            // {
            // name: 'Ingresos Proyectados',
            // data:   [500,250,200,155,255,255,],
            // color: 'rgba(116, 151, 100, 0.3)',
            // type : 'column',
            // dataLabels: false,
            // }, 

        ]
    });
</script>
    

{% endblock %}
